<div class="modal-header">
  <h3 class="modal-title">Add Custom Function</h3>
</div>
<div class="modal-body">
  <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Name:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveCF.name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Method:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveCF.method" class="form-control"><option value="GET" selected="selected">GET</option><option value="POST">POST</option></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">URL:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon">http:// </div>
          <input ng-model="formSaveCF.url" type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Team Only:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveCF.teamOnly" type="checkbox">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Add Function</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

