<div class="modal-header">
  <h3 class="modal-title">Add Document</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-if="errorMsg !== null">{{errorMsg}}</div>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Title:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveDocument.title" type="text" maxlength="50" class="form-control" autofocus="true">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Document Type:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveDocument.documentType" class="form-control">
          <option value="Link">Link</option>
          <option value="Markdown">Markdown</option>
          <option value="Text">Text</option>
        </select>
        <p class="help-block" ng-if="formSaveDocument.documentType === 'Link'">When the user clicks on a documents of type link, a new tab is opened taking the user to the URL specified below.</p>
        <p class="help-block" ng-if="formSaveDocument.documentType === 'Markdown'">When the user clicks on a Markdown document, the text is retrieved, formatted, and displayed below the list of documents.</p>
        <p class="help-block" ng-if="formSaveDocument.documentType === 'Text'">When the user clicks on a Text document, the text is retrieved and displayed below the list of documents.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">URL:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveDocument.link" type="text" maxlength="300" class="form-control">
        <p class="help-block">The URL used to access the document.</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Add Document</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>