<div class="modal-header">
    <h3 class="modal-title">Add Hosts to VIP</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Hosts:</dt>
        <dd>
            <span ng-repeat="hostName in hostNames">{{hostName}} </span>
        </dd>
        <dt>VIP:</dt>
        <dd>
            <select ng-model="formAddHostVip.vip" ng-options="v.vipName for v in moduleNetwork.vips" class="form-control"></select>
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Add Host</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

