<div class="modal-header">
    <h3 class="modal-title">Add New Host</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Data Center:</dt>
        <dd>
            <select ng-model="formSaveHost.dataCenter" ng-options="c for c in config.dataCenters" class="form-control"></select>
        </dd>
        <dt>Env:</dt>
        <dd>
            <select ng-model="formSaveHost.env" ng-options="c for c in config.envs" class="form-control"></select>
        </dd>
        <dt>Size:</dt>
        <dd>
            <select ng-model="formSaveHost.size" ng-options="c for c in config.sizes" class="form-control"></select>
        </dd>
        <dt>Version:</dt>
        <dd>
            <input type="text" ng-model="formSaveHost.version" ng-model-options="modelOptions" uib-typeahead="v for v in module.versions | filter:$viewValue" class="form-control">
        </dd>
        <dt>Count:</dt>
        <dd>
            <input ng-model="formSaveHost.count" type="number" class="form-control">
        </dd>
        <dt>Reason:</dt>
        <dd>
            <input ng-model="formSaveHost.reason" type="text" class="form-control">
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Provision Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

