<div class="modal-header">
    <h3 class="modal-title">Provision New Hosts in {{moduleNetwork.network}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert ng-if="configNetwork.warning" type="warning">{{configNetwork.warning}}</uib-alert>
    <uib-alert>Newly provisioned hosts will be added to this Module's VIPs and enabled.</uib-alert>
    <dl class="dl-horizontal">
        <dt>Data Center:</dt>
        <dd>
            <select ng-model="formSaveHost.dataCenter" ng-options="c for c in config.dataCenters" class="form-control"></select>
        </dd>
        <dt>Operating Env:</dt>
        <dd>
            <select ng-model="formSaveHost.env" ng-options="c for c in config.envs" class="form-control"></select>
        </dd>
        <dt>Size CPU:</dt>
        <dd>
            <input ng-model="formSaveHost.sizeCpu" type="number" min="{{config.minCpu}}" max="{{config.maxCpu}}" class="form-control">
        </dd>
        <dt>Size Memory:</dt>
        <dd>
            <div class="input-group">
                <input ng-model="formSaveHost.sizeMemory" type="number" min="{{config.minMemory}}" max="{{config.maxMemory}}" class="form-control">
                <div class="input-group-addon">GB</div>
            </div>
        </dd>
        <dt>Size Storage:</dt>
        <dd>
            <div class="input-group">
                <input ng-model="formSaveHost.sizeStorage" type="number" min="{{config.minStorage}}" max="{{config.maxStorage}}" step="5" class="form-control">
                <div class="input-group-addon">GB</div>
            </div>
        </dd>
        <dt>Artifact Version:</dt>
        <dd>
            <input type="text" ng-model="formSaveHost.version" ng-model-options="modelOptions" uib-typeahead="v for v in versions.artifactVersions | filter:$viewValue" class="form-control">
        </dd>
        <div ng-if="module.configName">
            <dt>Config Version:</dt>
            <dd>
                <input type="text" ng-model="formSaveHost.configVersion" ng-model-options="modelOptions" uib-typeahead="v for v in versions.configVersions | filter:$viewValue" class="form-control">
            </dd>
        </div>
        <dt>Count:</dt>
        <dd>
            <input ng-model="formSaveHost.count" type="number" min="1" max="{{config.maxCount}}" class="form-control">
        </dd>
        <dt>Reason:</dt>
        <dd>
            <input ng-model="formSaveHost.reason" type="text" class="form-control">
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Provision New Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

