<div class="modal-header">
    <h3 class="modal-title">Provision New Hosts in {{moduleEnvironment.environment}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert ng-if="configEnvironment.warning" type="warning">{{configEnvironment.warning}}</uib-alert>
    <uib-alert>Newly provisioned hosts will be added to this Module's VIPs and enabled.</uib-alert>
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label for="name" class="col-sm-4 control-label">Data Center:</label>
            <div class="col-sm-8">
                <select ng-model="formSaveHost.dataCenter" ng-options="c for c in config.dataCenters" class="form-control"></select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Platform:</label>
            <div class="col-sm-8">
                <select ng-model="formSaveHost.platform" ng-options="c for c in config.platforms" class="form-control"></select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Size CPU:</label>
            <div class="col-sm-8">
                <input ng-model="formSaveHost.sizeCpu" type="number" min="{{config.minCpu}}" max="{{config.maxCpu}}" class="form-control">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Size Memory:</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input ng-model="formSaveHost.sizeMemory" type="number" min="{{config.minMemory}}" max="{{config.maxMemory}}" class="form-control">
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Size Storage:</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input ng-model="formSaveHost.sizeStorage" type="number" min="{{config.minStorage}}" max="{{config.maxStorage}}" step="5" class="form-control">
                    <div class="input-group-addon">GB</div>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Artifact Version:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="formSaveHost.version" ng-model-options="modelOptions" uib-typeahead="v for v in versions.artifactVersions | filter:$viewValue" class="form-control">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Config Version:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="formSaveHost.configVersion" ng-model-options="modelOptions" uib-typeahead="v for v in versions.configVersions | filter:$viewValue" class="form-control">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Count:</label>
            <div class="col-sm-8">
                <input ng-model="formSaveHost.count" type="number" min="1" max="{{config.maxCount}}" class="form-control">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Reason:</label>
            <div class="col-sm-8">
                <input ng-model="formSaveHost.reason" type="text" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Provision New Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

