<div class="modal-header">
    <h3 class="modal-title">Add New Module</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formSaveModule.moduleName" type="text" class="form-control"></dd>
        <dt>Order:</dt>
        <dd><input ng-model="formSaveModule.order" type="text" class="form-control" uib-popover="The order the modules are built." popover-trigger="mouseenter"></dd>
        <dt>Type</dt>
        <dd><select ng-model="formSaveModule.moduleType" ng-options="c for c in config.moduleTypes" class="form-control" uib-popover="The selected the type of module." popover-trigger="mouseenter"></select></dd>
        <dt>Template:</dt>
        <dd><select ng-model="formSaveModule.template" ng-options="c for c in config.templates" class="form-control" uib-popover="The selected template instructs the service builder on what initial code should be used to construct the new service. If you don't want any starter/boiler plate code then select 'No template'." popover-trigger="mouseenter"></select></dd>
        <dt>Git Path:</dt>
        <dd>
            <div class="input-group">
                <div class="input-group-addon">{{team.gitRepo}} / </div>
                <input ng-model="formSaveModule.gitPath" type="text" class="form-control">
                <div class="input-group-addon">.git</div>
            </div>
        </dd>
        <dt>Git Folder:</dt>
        <dd><input ng-model="formSaveModule.gitFolder" type="text" class="form-control"></dd>
        <dt>Maven Group Id:</dt>
        <dd><input ng-model="formSaveModule.mavenGroupId" type="text" class="form-control"></dd>
        <dt>Maven Artifact Id:</dt>
        <dd><input ng-model="formSaveModule.mavenArtifactId" type="text" class="form-control"></dd>
        <dt>Artifact Type:</dt>
        <dd><select ng-model="formSaveModule.artifactType" ng-options="c for c in config.artifactTypes" class="form-control"></select></dd>
        <dt>Artifact Suffix:</dt>
        <dd><input ng-model="formSaveModule.artifactSuffix" type="text" class="form-control" uib-popover="Does the service's artifact have a suffix, such as '-jar-with-dependencies'." popover-trigger="mouseenter"></dd>
        <div ng-if="formSaveModule.moduleType === 'Deployable'">
            <dt>Host Abbr:</dt>
            <dd><input ng-model="formSaveModule.hostAbbr" type="text" class="form-control"></dd>
            <dt>Version Url:</dt>
            <dd><input ng-model="formSaveModule.versionUrl" type="text" class="form-control"></dd>
            <dt>Availability Url:</dt>
            <dd><input ng-model="formSaveModule.availabilityUrl" type="text" class="form-control"></dd>
            <dt>Run As User:</dt>
            <dd><input ng-model="formSaveModule.runAs" type="text" class="form-control"></dd>
            <dt>Start Cmd Line:</dt>
            <dd><input ng-model="formSaveModule.startCmdLine" type="text" class="form-control" uib-popover="The command to start the service or involve a script that will start the service. The command is executed direct on the taret host. The command is executed by the 'Run As User'." popover-trigger="mouseenter"></dd>
            <dt>Start Time Out:</dt>
            <dd><input ng-model="formSaveModule.startTimeOut" type="text" class="form-control" uib-popover="Time out in seconds." popover-trigger="mouseenter"></dd>
            <dt>Stop Cmd Line:</dt>
            <dd><input ng-model="formSaveModule.stopCmdLine" type="text" class="form-control" uib-popover="The command to stop the service or involve a script that will stop the service. The command is executed direct on the taret host. The command is executed by the 'Run As User'." popover-trigger="mouseenter"></dd>
            <dt>Stop Time Out:</dt>
            <dd><input ng-model="formSaveModule.stopTimeOut" type="text" class="form-control" uib-popover="Time out in seconds." popover-trigger="mouseenter"></dd>
        </div>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>