<div class="modal-header">
    <h3 class="modal-title">Create Team</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formSaveTeam.name" type="text" maxlength="30" class="form-control"></dd>
        <dt>Email:</dt>
        <dd><input ng-model="formSaveTeam.email" type="text" class="form-control"></dd>
        <dt>IRC:</dt>
        <dd><input ng-model="formSaveTeam.irc" type="text" class="form-control"></dd>
        <dt>Slack:</dt>
        <dd><input ng-model="formSaveTeam.slack" type="text" class="form-control"></dd>
        <dt>Git Group</dt>
        <dd><input ng-model="formSaveTeam.gitGroup" type="text" maxlength="30" class="form-control"></dd>
        <dt>Team Page:</dt>
        <dd><input ng-model="formSaveTeam.teamPage" type="text" class="form-control"></dd>
        <dt>Calendar ID:</dt>
        <dd><input ng-model="formSaveTeam.calendarId" type="text" class="form-control"></dd>
        <dt>Initial Team Member:</dt>
        <dd><select ng-model="formSaveTeam.user" ng-options="u.fullName for u in users.users" class="form-control"></select></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Create Team</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>