<div class="modal-header">
    <h3 class="modal-title">Create Test Module</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formSaveModule.moduleName" type="text" class="form-control" uib-popover="It's convention to name modules with the service's abbreviation (capitalized) followed by a dash then the module's function. For example FOO-service or FOO-client." popover-trigger="mouseenter"></dd>
        <div ng-if="service.gitMode === 'Flat'">
            <dt>Git Project:</dt>
            <dd>
                <div class="input-group">
                    <div class="input-group-addon">{{team.gitGroup}} / </div>
                    <input ng-model="formSaveModule.gitProject" type="text" class="form-control">
                    <div class="input-group-addon">.git</div>
                </div>
            </dd>
        </div>
        <div ng-if="service.gitMode === 'Consolidated'">
            <dt>Git Folder:</dt>
            <dd>
                <div class="input-group">
                    <div class="input-group-addon"> / </div>
                    <input ng-model="formSaveModule.gitFolder" type="text" class="form-control">
                </div>
            </dd>
        </div>
        <dt>Build Order:</dt>
        <dd><input ng-model="formSaveModule.order" type="text" class="form-control" uib-popover="The order the modules are built. Zero for modules that are built outside of the tool." popover-trigger="mouseenter"></dd>
        <dt>Template:</dt>
        <dd><select ng-model="formSaveModule.testTemplate" ng-options="c for c in config.testTemplates" class="form-control" uib-popover="The selected template instructs the service builder on what initial code should be used to construct the new service. If you don't want any starter/boiler plate code then select 'No template'." popover-trigger="mouseenter"></select></dd>
        <dt>Host Name:</dt>
        <dd><input ng-model="formSaveModule.hostname" type="text" class="form-control"></dd>
        <dt>Run As User:</dt>
        <dd><input ng-model="formSaveModule.runAs" type="text" class="form-control"></dd>
        <dt>Deployment Folder:</dt>
        <dd><input ng-model="formSaveModule.deploymentFolder" type="text" class="form-control"></dd>
        <dt>Start Cmd Line:</dt>
        <dd><input ng-model="formSaveModule.startCmdLine" type="text" class="form-control" uib-popover="The command to start the service or involve a script that will start the service. The command is executed direct on the taret host. The command is executed by the 'Run As User'." popover-trigger="mouseenter"></dd>
        <dt>Start Time Out:</dt>
        <dd><input ng-model="formSaveModule.startTimeOut" type="text" class="form-control" uib-popover="Time out in seconds." popover-trigger="mouseenter"></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Create Test Module</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>