<div class="modal-header">
    <h3 class="modal-title">Add Uses</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <div ng-repeat="ref in notUses.refs">
        <input ng-model="formSelectUses[ref.serverServiceId]" type="checkbox"> {{ref.serviceName}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
