<div class="modal-header">
    <h3 class="modal-title">Add VIP to {{networkModule.network}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert ng-if="configNetwork.warning" type="warning">{{configNetwork.warning}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Domain:</dt>
        <dd><input ng-model="formSaveVip.dns" type="text" class="form-control"></dd>
        <dt>Root Domain:</dt>
        <dd><select ng-model="formSaveVip.domain" ng-options="c for c in config.domains" class="form-control"></select></dd>
        <dt>External:</dt>
        <dd><select ng-model="formSaveVip.external" class="form-control"><option value="false" selected="selected">False</option><option value="true">True</option></select></dd>
        <dt>Protocol:</dt>
        <dd><select ng-model="formSaveVip.protocol" ng-options="c for c in config.protocols" class="form-control"></select></dd>
        <dt>VIP Port:</dt>
        <dd><input ng-model="formSaveVip.vipPort" type="number" class="form-control"></dd>
        <dt>Service Port:</dt>
        <dd><input ng-model="formSaveVip.servicePort" type="number" class="form-control"></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Add VIP</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

