<div align="center">
    <a ng-click="openAddTeamModal();" class="btn btn-info btn-xs" uib-popover="Add a new Team." popover-trigger="mouseenter"><span class="glyphicon glyphicon-plus"></span> Add Team</a>
</div>
<table class="table table-hover table-condensed">
    <tr>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Is Ops</th>
        <th>Is Admin</th>
    </tr>
    <tr ng-repeat="u in users.users">
        <td>
            {{u.username}}
            <a ng-click="openUpdateUserModal(u);" class="btn btn-info btn-xs" uib-popover="Update {{u.username}}." popover-trigger="mouseenter"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
        <td>{{u.fullName}}</td>
        <td>{{u.ops}}</td>
        <td>{{u.admin}}</td>
    </tr>
</table>
