<div class="modal-header">
  <h3 class="modal-title">Backfill Existing VIP to {{environmentModule.environment}}</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-if="errorMsg !== null">{{errorMsg}}</div>
  <div class="alert alert-warning" ng-if="configEnvironment.warning">{{configEnvironment.warning}}</div>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Domain/Cname:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveVip.dns" type="text" class="form-control" autofocus="true">
        <p class="help-block">Enter only the Domain/Cname, for example "foo". Do not enter names with data center abbreviations, such as "foo-wdc".</p>
        <p class="help-block">Minimum length of 3 and maximum length of 30.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Root Domain:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveVip.domain" ng-options="c for c in config.domains" class="form-control"></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">FQDN:</label>
      <div class="col-sm-9">
        {{formSaveVip.dns}}.{{formSaveVip.domain}}
        <p class="help-block">The Fully Qualified Domain Name that people and other services use to access your service.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Inbound Protocol:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveVip.inboundProtocol" ng-options="ip as ip.name for ip in config.inboundProtocols" ng-change="formSaveVip.outboundProtocol = formSaveVip.inboundProtocol.outbound[0]; formSaveVip.inboundModifiers = null; formSaveVip.outboundModifiers = null;" class="form-control"></select>
      </div>
    </div>
    <div ng-if="formSaveVip.inboundProtocol.modifiers.length > 0" class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Inbound Modifiers:</label>
      <div class="col-sm-9">
        <ui-select multiple ng-model="formSaveVip.inboundModifiers" theme="bootstrap" close-on-select="false" title="Choose an optional modifier" class="form-control">
          <ui-select-match placeholder="Select modifiers...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="im in formSaveVip.inboundProtocol.modifiers">
            {{im.name}}
          </ui-select-choices>
        </ui-select>
        <p class="help-block">Modifiers are optional and multiple can be selected</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Outbound Protocol:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveVip.outboundProtocol" ng-options="op as op.name for op in formSaveVip.inboundProtocol.outbound" ng-change="formSaveVip.outboundModifiers = null;" class="form-control"></select>
      </div>
    </div>
    <div ng-if="formSaveVip.outboundProtocol.modifiers.length > 0" class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Outbound Modifiers:</label>
      <div class="col-sm-9">
        <ui-select multiple ng-model="formSaveVip.outboundModifiers" theme="bootstrap" close-on-select="false" title="Choose an optional modifier" class="form-control">
          <ui-select-match placeholder="Select modifiers...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="om in formSaveVip.outboundProtocol.modifiers">
            {{om.name}}
          </ui-select-choices>
        </ui-select>
        <p class="help-block">Modifiers are optional and multiple can be selected</p>
      </div>
    </div>
    <div ng-if="formSaveVip.inboundProtocol.vipPortRequired" class="form-group form-group-sm">
      <label class="col-sm-3 control-label">VIP Port:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveVip.vipPort" type="number" class="form-control">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Service Port:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveVip.servicePort" type="number" class="form-control">
      </div>
    </div>
    <div ng-if="formSaveVip.outboundModifiers.length > 0" class="form-group form-group-sm">
      <label class="col-sm-3 control-label">HTTP Check Port:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveVip.httpCheckPort" type="number" class="form-control">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Pool Contains:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveVip.priorityMode" ng-options="c for c in config.priorityModes" class="form-control"></select>
        <p class="help-block">This rule is used to determine which hosts are included in a Load Balancer's pool.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">External:</label>
      <div class="col-sm-9">
        <select ng-model="formSaveVip.external" class="form-control">
          <option value="false" selected="selected">False</option>
          <option value="true">True</option>
        </select>
        <p class="help-block">Does this service need to be accessible from the Internet.</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Backfill existing VIP</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

