<div class="modal-header">
    <h3 class="modal-title">Backfill Hosts to Module</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Data Center:</dt>
        <dd>
            <select ng-model="formBackfillHost.dataCenter" ng-options="c for c in config.dataCenters" class="form-control"></select>
        </dd>
        <dt>Network:</dt>
        <dd>
            <select ng-model="formBackfillHost.network" ng-options="c.name for c in config.networks" class="form-control"></select>
        </dd>
        <dt>Env:</dt>
        <dd>
            <select ng-model="formBackfillHost.env" ng-options="c for c in config.envs" class="form-control"></select>
        </dd>
        <dt>Size:</dt>
        <dd>
            <select ng-model="formBackfillHost.size" ng-options="c for c in config.sizes" class="form-control"></select>
        </dd>
        <dt>Hosts:</dt>
        <dd>
            <input ng-model="formBackfillHost.hosts" type="text" class="form-control"><br/>
            Comma separated list of hosts
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Backfill Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
