<h3>Host Backfill
    <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
            Options <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="submitBackfill();">Backfill hosts</a></li>
        </ul>
    </div>
</h3>
<b>Line format:</b> service abbr,module name,host name,data center,network,env,size</br>
<textarea ng-model="backfillTextarea" rows="10" style="min-width: 95%" placeholder="service abbr,module name,host name,data center,network,env,size"></textarea>
