<div class="modal-header">
    <h3 class="modal-title">Backfill Existing Hosts</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert>Backfilled hosts will NOT be automatically added to any VIPs.</uib-alert>
    <dl class="dl-horizontal">
        <dt>Data Center:</dt>
        <dd><select ng-model="formBackfillHost.dataCenter" ng-options="c for c in config.dataCenters" class="form-control"></select></dd>
        <dt>Operating Env:</dt>
        <dd><select ng-model="formBackfillHost.env" ng-options="c for c in config.envs" class="form-control"></select></dd>
        <dt>Hosts:</dt>
        <dd><input ng-model="formBackfillHost.hosts" type="text" uib-popover="Comma separated list of hosts. Please provide the full name, not part of the name." popover-trigger="mouseenter" class="form-control"></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Backfill Existing Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
