<h3>Service Catalog</h3>
<div ng-if="catalogLoading">Loading...</div>
<div ng-if="!catalogLoading">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input type="text" class="form-control" placeholder="Filter services" ng-model="catalogFilter">
      </div>      
    </div>
  </form>
  <table class="table table-hover table-striped table-condensed">
    <tr>
      <th>
        <a ng-click="catalogSortType = 'teamName'; catalogSortReverse = !catalogSortReverse">Team Name</a>
      </th>
      <th>
        <a ng-click="catalogSortType = 'serviceName'; catalogSortReverse = !catalogSortReverse">Service Name</a>
      </th>
      <th>
        <a ng-click="catalogSortType = 'scope'; catalogSortReverse = !catalogSortReverse">Scope</a>
      </th>
      <th class="text-center">
        HA<br/>
        <a ng-click="catalogSortType = 'haFunctionality'; catalogSortReverse = !catalogSortReverse">F</a>/
        <a ng-click="catalogSortType = 'haPerformance'; catalogSortReverse = !catalogSortReverse">P</a>/
        <a ng-click="catalogSortType = 'haData'; catalogSortReverse = !catalogSortReverse">D</a>
      </th>
      <th>
        Service Description
      </th>
    </tr>
    <tr ng-repeat="s in catalog.services| orderBy:catalogSortType:catalogSortReverse | filter:catalogFilter">
      <td><a href="#/Team/{{s.teamId}}">{{s.teamName}}</a></td>
      <td><a href="#/Service/{{s.serviceId}}">{{s.serviceName}}</a></td>
      <td>{{s.scope}}</td>
      <td class="text-center">
        <span ng-if="s.haFunctionality" class="glyphicon glyphicon-check text-success"></span>
        <span ng-if="!s.haFunctionality" class="glyphicon glyphicon-unchecked text-success"></span>
        <span ng-if="s.haPerformance" class="glyphicon glyphicon-check text-success"></span>
        <span ng-if="!s.haPerformance" class="glyphicon glyphicon-unchecked text-success"></span>
        <span ng-if="s.haData" class="glyphicon glyphicon-check text-success"></span>
        <span ng-if="!s.haData" class="glyphicon glyphicon-unchecked text-success"></span>
      </td>
      <td><span style="white-space:pre-wrap;">{{s.serviceDescription}}</span></td>
    </tr>
  </table>
</div>