<div class="modal-header">
  <h3 class="modal-title">Edit Comment on {{host.hostName}}</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-if="errorMsg !== null">{{errorMsg}}</div>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Comment:</label>
      <div class="col-sm-9">
        <input ng-model="formSaveHost.comment" type="text" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Save Comment</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
