<h3>Cross Service Operations</h3>
<uib-tabset type="pills">
    <uib-tab heading="Services">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Services
                    <a ng-click="" class="btn btn-info btn-xs" uib-popover="Rebuild the module pipeline for the selected services." popover-trigger="mouseenter"><span class="glyphicon glyphicon-pencil"></span> Rebuild Pipelines</a>
                </h4>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input type="text" class="form-control" placeholder="Filter Services" ng-model="serviceFilter">
                        </div>      
                    </div>
                </form>
                <table class="table table-hover table-striped table-condensed">
                    <tr>
                        <th width="5%"></th>
                        <th width="10%">Type</th>
                        <th width="10%">Abbr</th>
                        <th width="75%">Name</th>
                    </tr>
                    <tr ng-repeat="s in services.services| filter:serviceFilter">
                        <td>
                            <input ng-model="formSelectService[s.serviceId]" type="checkbox">
                        </td>
                        <td>{{s.serviceType}}</td>
                        <td>{{s.serviceAbbr}}</td>
                        <td>{{s.serviceName}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Modules">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Modules</h4>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input type="text" class="form-control" placeholder="Filter Modules" ng-model="moduleFilter">
                        </div>      
                    </div>
                </form>
                <table class="table table-hover table-striped table-condensed">
                    <tr>
                        <th></th>
                        <th>Service</th>
                        <th>Module</th>
                        <th>Build Order</th>
                        <th>Type</th>
                        <th>Git Project</th>
                        <th>Git Folder</th>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Hosts">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Modules
                    <a ng-click="" class="btn btn-info btn-xs" uib-popover="Rolling restart of the service deployed to the selected hosts." popover-trigger="mouseenter"><span class="glyphicon glyphicon-pencil"></span> Restart Hosts</a>
                </h4>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                            <input type="text" class="form-control" placeholder="Filter hosts" ng-model="hostFilter">
                        </div>      
                    </div>
                </form>
                <table class="table table-hover table-striped table-condensed">
                    <tr>
                        <th></th>
                        <th>Service</th>
                        <th>Module</th>
                        <th>DC</th>
                        <th>Network</th>
                        <th>Host</th>
                        <th>Env.</th>
                        <th>Size</th>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
