<div class="modal-header">
    <h3 class="modal-title">Delete Host in {{moduleNetwork.network}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert ng-if="configNetwork.warning" type="warning">{{configNetwork.warning}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Module:</dt>
        <dd>{{moduleNetwork.moduleName}}</dd>
        <dt>Host:</dt>
        <dd><div ng-repeat="hostName in hostNames">{{hostName}} </div></dd>
        <dt>Reason:</dt>
        <dd><input ng-model="formDeleteHost.reason" type="text" class="form-control"></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Delete Host</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

