<div class="modal-header">
  <h3 class="modal-title">Delete Module</h3>
</div>
<div class="modal-body">
  <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-4 control-label">Name:</label>
      <div class="col-sm-8">{{module.moduleName}}
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Delete Module</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>