<div class="modal-header">
  <h3 class="modal-title">Decommission Host in {{moduleEnvironment.environment}}</h3>
</div>
<div class="modal-body">
  <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
  <uib-alert ng-if="configEnvironment.warning" type="warning">{{configEnvironment.warning}}</uib-alert>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Module:</label>
      <div class="col-sm-9">{{moduleEnvironment.moduleName}}
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Host:</label>
      <div class="col-sm-9">
        <div ng-repeat="hostName in hostNames">{{hostName}} </div>
      </div>
    </div>
    <div class="form-group">   
      <label class="col-sm-3 control-label">Inventory Only:</label>
      <div class="col-sm-9">
        <input ng-model="formDeleteHost.inventoryOnly" type="checkbox">
          <p class="help-block">If checked the host will be removed from inventory, but will not actually be decommissioned. Use this option if a host was incorrectly backfilled to this module.</p>
          <p class="help-block">If the host is associated to more that one module, then the host will not be decommissioned. The host will only removed from this module.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Reason:</label>
      <div class="col-sm-9">
        <input ng-model="formDeleteHost.reason" type="text" class="form-control" autofocus="true">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Decommission Host</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

