<div class="modal-header">
    <h3 class="modal-title">Delete Service</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Abbr:</dt>
        <dd>{{formDeleteService.serviceAbbr}}</dd>
        <dt>Name:</dt>
        <dd>{{formDeleteService.serviceName}}</dd>
        <dt>Description:</dt>
        <dd>{{formDeleteService.description}}</dd>
        <dt>Reason:</dt>
        <dd>
            <input ng-model="formDeleteService.reason" type="text" class="form-control">
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Delete Service</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

