<div class="modal-header">
    <h3 class="modal-title">{{cf.name}}</h3>
</div>
<div class="modal-body">
    <uib-tabset type="pills">
        <uib-tab ng-repeat="host in hosts" heading="{{host.hostName}}">
            {{host.url}}
            <span ng-if="cf.method === 'GET'">
                - <a href="http://{{host.url}}" target="_blank">Direct Link</a> - <a href="{{host.realUrl}}" target="_blank">Proxy Link</a>
            </span>
            <iframe src="{{host.realUrl}}" width="100%"></iframe>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
</div>

