<h3>Find Host</h3>
<div class="row">
    <div class="col-md-6">
        <input ng-model="findHostName" type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <a ng-click="doFindHost()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-refresh"></span> Find Host</a>
    </div>
</div>
<div ng-if="!findHost">
{{findStatus}}
</div>
<div ng-if="findHost">
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Team:</dt>
                <dd><a href="#!/Team/{{findHost.teamId}}">{{findHost.teamName}}</a></dd>
                <dt>Service:</dt>
                <dd><a href="#!/Service/{{findHost.serviceId}}">{{findHost.serviceName}}</a></dd>
                <dt>Module:</dt>
                <dd>{{findHost.moduleName}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Data Center:</dt>
                <dd>{{findHost.dataCenter}}</dd>
                <dt>Environment:</dt>
                <dd>{{findHost.environment}}</dd>
                <dt>Platform:</dt>
                <dd>{{findHost.platform}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <div ng-if="findHost.status !== '-'">
                    <dt>Status:</dt>
                    <dd>{{findHost.status}}</dd>
                </div>
                <dt>Availability:</dt>
                <dd>
                    <span ng-if="findHost.availability === -1">
                        <span class="label label-danger">Time Out</span>
                    </span>
                    <span ng-if="findHost.availability < 300 && findHost.availability > 99">
                        <span class="label label-success">{{findHost.availability}}</span>
                    </span>
                    <span ng-if="findHost.availability > 299">
                        <span class="label label-danger">{{findHost.availability}}</span>
                    </span>
                </dd>
                <dt>Version:</dt>
                <dd>{{findHost.version}}</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <div ng-repeat="d in findHost.details.left">
                    <dt>{{d.label}}:</dt><dd>{{d.value}}</dd>
                </div>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <div ng-repeat="d in findHost.details.right">
                    <dt>{{d.label}}:</dt><dd>{{d.value}}</dd>
                </div>
            </dl>
        </div>
    </div>
</div>
