<h3>Graph Services</h3>
<div class="row">
    <div class="col-md-6">
        <select ng-model="formGraph.style" class="form-control">
            <option value="all">All Deployables</option>
            <option value="fanIn">Fan In - All the services that use...</option>
            <option value="fanOut">Fan Out - All the services that are used by...</option>
        </select>
        <span ng-if="formGraph.style == 'all'">
            Note: Deployable name on the left, libraries on the right, and arrows indicate calls between deployables.
        </span>
        <span ng-if="formGraph.style == 'fanOut' || formGraph.style == 'fanIn'">
            <select ng-model="formGraph.service" ng-options="s.serviceName for s in services.services" ng-init="formGraph.service = services.services[0]" class="form-control">
            </select>
            Note: Deployables are rectangles and libraries are ellipses.
        </span>
    </div>
    <div class="col-md-6">
        <a ng-click="doGraph()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-refresh"></span> Graph</a>
    </div>
</div>
<br/>
<div id="viz"></div>