<h3>Build And Deploy Help</h3>
<div class="row">
    <div class="col-md-10">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://github.com/Jukkorsis/Hadrian" target="_blank">GitHub Project Page</a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/Jukkorsis/Hadrian/blob/master/README.md" target="_blank">Read Me</a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/Jukkorsis/Hadrian/wiki" target="_blank">Wiki</a>
            </li>
            <li class="list-group-item">
                <a href="https://github.com/Jukkorsis/Hadrian/issues" target="_blank">Issues and Feature requests</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h3>Server-side Libraries:</h3>
        <ul class="list-group">
            <li class="list-group-item">Jetty</li>
            <li class="list-group-item">Gson</li>
            <li class="list-group-item">SLF4J + Logback</li>
            <li class="list-group-item">OkHttp</li>
            <li class="list-group-item">Datastax Cassandra Driver</li>
            <li class="list-group-item">Apache Commons email</li>
            <li class="list-group-item">Metrics-Raw</li>
            <li class="list-group-item">KairosDB Client</li>
            <li class="list-group-item">JUnit</li>
            <li class="list-group-item">Google Services Calendar</li>
        </ul>
    </div>
    <div class="col-md-5">
        <h3>Client-side Libraries:</h3>
        <ul class="list-group">
            <li class="list-group-item">AngularJS</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">Viz.js</li>
            <li class="list-group-item">AngularJS Bootstrap UI</li>
            <li class="list-group-item">Showdown</li>
            <li class="list-group-item">Ace</li>
        </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>

