<h3>Parameters</h3>
<uib-tabset type="pills">
    <uib-tab heading="Data Centers">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="dc in config.dataCenters">
                    {{dc}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Environments">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-striped table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Pattern</th>
                        <th>Allow Deploy with VersionURL</th>
                    </tr>
                    <tr ng-repeat="environment in config.environments">
                        <td>{{environment.name}}</td>
                        <td>{{environment.pattern}}</td>
                        <td>{{environment.allowUrl}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Platforms">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="platform in config.platforms">
                    {{platform}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Protocols">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="protocol in config.protocols">
                    {{protocol}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Domains">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="domain in config.domains">
                    {{domain}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Artifact Types">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="artifactType in config.artifactTypes">
                    {{artifactType}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
