<h3>Parameters</h3>
<uib-tabset type="pills">
    <uib-tab heading="Data Centers">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="dc in config.dataCenters">
                    {{dc}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Environments">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-striped table-condensed">
                    <tr>
                        <th>Name</th>
                        <th>Pattern</th>
                        <th>Allow Deploy with VersionURL</th>
                    </tr>
                    <tr ng-repeat="environment in config.environments">
                        <td>{{environment.name}}</td>
                        <td>{{environment.pattern}}</td>
                        <td>{{environment.allowUrl}}</td>
                    </tr>
                </table>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="oldValue">Old Value</label>
                        <input type="text" class="form-control" id="oldValue" ng-model="formEnvironmentConvert.oldValue" placeholder="Old Value">
                    </div>
                    <div class="form-group">
                        <label for="newValue">New Value</label>
                        <input type="text" class="form-control" id="newValue" ng-model="formEnvironmentConvert.newValue" placeholder="New Value">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="convertEnvironment()">Convert</button>
                    <span ng-if="formEnvironmentConvert.result !== ''">{{formEnvironmentConvert.result}}</span>
                </form>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Platforms">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="platform in config.platforms">
                    {{platform}}<br/>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="oldValue">Old Value</label>
                        <input type="text" class="form-control" id="oldValue" ng-model="formPlatfromConvert.oldValue" placeholder="Old Value">
                    </div>
                    <div class="form-group">
                        <label for="newValue">New Value</label>
                        <input type="text" class="form-control" id="newValue" ng-model="formPlatfromConvert.newValue" placeholder="New Value">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="convertPlatform()">Convert</button>
                    <span ng-if="formPlatfromConvert.result !== ''">{{formPlatfromConvert.result}}</span>
                </form>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Domains">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="domain in config.domains">
                    {{domain}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Artifact Types">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="artifactType in config.artifactTypes">
                    {{artifactType}}<br/>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Admin">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-primary" type="button" ng-click="openAddTeamModal();">Add team</button>
                <button class="btn btn-primary" type="button" ng-click="openResetAllServicesModal();">Reset All Services</button>
                <br/>
                {{adminResult}}
            </div>
        </div>
    </uib-tab>
</uib-tabset>
