<div class="modal-header">
    <h3 class="modal-title">Restart Hosts</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Module:</dt>
        <dd>{{module.moduleName}}</dd>
        <dt>Network:</dt>
        <dd>{{network}}</dd>
        <dt>Hosts:</dt>
        <dd>
            <div ng-repeat="hostName in hostNames">{{hostName}} </div>
        </dd>
        <dt>Reason:</dt>
        <dd>
            <input ng-model="formUpdateHost.reason" type="text" class="form-control">
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Restart Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

