<div class="modal-header">
    <h3 class="modal-title">Restart Hosts in {{moduleEnvironment.environment}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert ng-if="configEnvironment.warning" type="warning">{{configEnvironment.warning}}</uib-alert>
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label for="name" class="col-sm-4 control-label">Module:</label>
            <div class="col-sm-8">
                {{moduleEnvironment.moduleName}}
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Hosts:</label>
            <div class="col-sm-8">
                <div ng-repeat="hostName in hostNames">{{hostName}} </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Check for OS Upgrade:</label>
            <div class="col-sm-8">
                <input ng-model="formUpdateHost.doOsUpgrade" type="checkbox">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label for="email" class="col-sm-4 control-label">Reason:</label>
            <div class="col-sm-8">
                <input ng-model="formUpdateHost.reason" type="text" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Restart Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

