<div class="modal-header">
    <h3 class="modal-title">Restart {{moduleEnvironment.moduleName}} in {{moduleEnvironment.environment}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-if="errorMsg !== null">{{errorMsg}}</div>
    <div class="alert alert-warning" ng-if="configEnvironment.warning">{{configEnvironment.warning}}</div>
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">Hosts:</label>
            <div class="col-sm-9">
                <div ng-repeat="hostName in hostNames">{{hostName}} </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">Check for OS Upgrade:</label>
            <div class="col-sm-9">
                <input ng-model="formUpdateHost.doOsUpgrade" type="checkbox">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">Reason:</label>
            <div class="col-sm-9">
                <input ng-model="formUpdateHost.reason" type="text" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Restart Hosts</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

