<div class="modal-header">
    <h3 class="modal-title">Manage Secret of Module</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt><dd>{{module.moduleName}}</dd>
        <dt>Network:</dt><dd>{{network.name}}</dd>
        <dt>File Name:</dt>
        <dd><input ng-model="formSecret.fileName" type="text" maxlength="100" class="form-control"></dd>
        <dt>Contents:</dt>
        <dd><textarea ng-model="formSecret.contents" class="form-control">I am hilarious because...</textarea></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save Secret</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>