<div class="panel panel-default">
    <div class="panel-body">
        <div ng-repeat="m in service.modules">
            <div ng-if="m.moduleType === 'Deployable'">
                <h4>
                    <span ng-if="!m.collapsed" class="glyphicon glyphicon-chevron-down" ng-click="m.collapsed = true"></span>
                    <span ng-if="m.collapsed" class="glyphicon glyphicon-chevron-right" ng-click="m.collapsed = false"></span>
                    {{m.moduleName}}
                    <div class="btn-group" uib-dropdown ng-if="service.canModify" is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a ng-click="openAddCustomFunctionModal(m)">Add custom function to {{m.moduleName}}</a></li>
                        </ul>
                    </div>
                </h4>
                <div ng-if="!m.collapsed && m.customFunctions.length > 0">
                    <table class="table table-hover table-striped table-condensed">
                        <tr>
                            <th width="30%">Name</th>
                            <th width="10%">Method</th>
                            <th width="50%">URL</th>
                            <th width="10%">Team Only</th>
                        </tr>
                        <tr ng-repeat="cf in m.customFunctions">
                            <td>
                                {{cf.name}}
                                <span ng-if="service.canModify">
                                    <a ng-click="openUpdateCustomFunctionModal(cf)" class="btn btn-info btn-xs" uib-popover="Update custom function {{cf.name}}." popover-trigger="mouseenter"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a ng-click="deleteCustomFunction(cf.customFunctionId)" class="btn btn-danger btn-xs" uib-popover="Delete custom function {{cf.name}}." popover-trigger="mouseenter"><span class="glyphicon glyphicon-remove"></span></a>
                                </span>
                            </td>
                            <td>{{cf.method}}</td>
                            <td>{{cf.url}}</td>
                            <td>{{cf.teamOnly}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
