<div class="panel panel-default">
  <div class="panel-body">
    <h4>Configuration</h4>
    <div class="row">
      <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt>Type:</dt>
          <dd>{{service.serviceType}}</dd>
          <dt>Security Scope:</dt>
          <dd>{{service.scope}}</dd>
          <div ng-if="service.doBuilds">
            <dt>Git Project:</dt>
            <dd><a href="{{config.gitUiURL}}{{team.gitGroup}}/{{service.gitProject}}" target="_blank">{{team.gitGroup}}/{{service.gitProject}}.git</a></dd>
          </div>
          <div ng-if="service.doBuilds || service.doDeploys">
            <dt>Maven Group:</dt>
            <dd>{{service.mavenGroupId}}</dd>
          </div>
          <dt>Creation Date:</dt>
          <dd>{{service.creationDate | date:'medium'}}</dd>
          <div  ng-if="!service.active">
            <dt>Deletion Date:</dt>
            <dd>{{service.deletionDate | date:'medium'}}</dd>
          </div>
        </dl>
      </div>
      <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt>Do Builds:</dt>
          <dd>
            <span ng-if="service.doBuilds" class="glyphicon glyphicon-check text-success"></span>
            <span ng-if="!service.doBuilds" class="glyphicon glyphicon-unchecked text-success"></span>
          </dd>
          <dt>Do Deploys:</dt>
          <dd>
            <span ng-if="service.doDeploys" class="glyphicon glyphicon-check text-success"></span>
            <span ng-if="!service.doDeploys" class="glyphicon glyphicon-unchecked text-success"></span>
          </dd>
          <div ng-if="service.doDeploys">
            <dt>Dis/enable VIPs:</dt>
            <dd>
              <span ng-if="service.doManageVip" class="glyphicon glyphicon-check text-success"></span>
              <span ng-if="!service.doManageVip" class="glyphicon glyphicon-unchecked text-success"></span>
            </dd>
            <dt>Check jars are signed:</dt>
            <dd>
              <span ng-if="service.doCheckJar" class="glyphicon glyphicon-check text-success"></span>
              <span ng-if="!service.doCheckJar" class="glyphicon glyphicon-unchecked text-success"></span>
            </dd>
          </div>
          <div ng-if="service.doBuilds">
            <dt>Find Bugs Level:</dt>
            <dd>
              <span ng-if="service.doFindBugsLevel == 'report'">Report only</span>
              <span ng-if="service.doFindBugsLevel == 'high'">Block on High findings</span>
              <span ng-if="service.doFindBugsLevel == 'medium'">Block on High and Medium findings</span>
            </dd>
          </div>
        </dl>
      </div>
      <div class="col-md-4">
        <dl class="dl-horizontal">
          <div ng-if="service.doBuilds">
            <dt>Test Style:</dt>
            <dd>{{service.testStyle}}</dd>
            <div ng-if="service.testStyle === 'Script'">
              <dt>Test Host Name:</dt>
              <dd>{{service.testHostname}}</dd>
              <dt>Test Run As:</dt>
              <dd>{{service.testRunAs}}</dd>
              <dt>Test Deploy Folder:</dt>
              <dd>{{service.testDeploymentFolder}}</dd>
              <dt>Test Cmd Line:</dt>
              <dd>{{service.testCmdLine}}</dd>
            </div>
            <div ng-if="service.testStyle !== 'None'">
              <dt>Test Time Out:</dt>
              <dd>{{service.testTimeOut}} sec</dd>
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div ng-if="service.serviceType === 'Service'">
      <h4>High Availability Characteristics</h4>
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal">
            <dt>Functionality:</dt>
            <dd>
              <span ng-if="service.haFunctionality" class="glyphicon glyphicon-check text-success"></span>
              <span ng-if="!service.haFunctionality" class="glyphicon glyphicon-unchecked text-success"></span>
            </dd>
            <dt>Performance:</dt>
            <dd>
              <span ng-if="service.haPerformance" class="glyphicon glyphicon-check text-success"></span>
              <span ng-if="!service.haPerformance" class="glyphicon glyphicon-unchecked text-success"></span>
            </dd>
            <dt>Data:</dt>
            <dd>
              <span ng-if="service.haData" class="glyphicon glyphicon-check text-success"></span>
              <span ng-if="!service.haData" class="glyphicon glyphicon-unchecked text-success"></span>
            </dd>
          </dl>
        </div>
        <div class="col-md-8">
          <span style="white-space:pre-wrap;">{{service.haNotes}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
