<h1>Service</h1>
<h3>Service</h3>
<dl class="dl-horizontal">
    <dt>Abbreviation</dt><dd>Short name for the service. Max 8 characters or numbers.</dd>
    <dt>Name</dt><dd>The service's full name, max 30 characters.</dd>
    <dt>Team Name</dt><dd>The team that owns the service, max 30 characters.</dd>
    <dt>Description</dt><dd>A paragraph or two that describes the function/domain/responsibilities of the service.</dd>
    <dt>Access</dt><dd>If the service is externally accessible or only offered internally.</dd>
    <dt>Type</dt><dd>Applications offers a human UI versus a service which can only be accessed by other services.</dd>
    <dt>State</dt><dd>
        <strong>Statefull</strong>, The service persists state between requests.<br/>
        <strong>Stateless</strong>, All requests are handled individually, no state is persisted between requests.</dd>
    <dt>Technology</dt><dd>A list or paragraph that describes the technologies (components, libraries, etc.) used to by the service.</dd>
    <dt>Links</dt><dd>A list of links, such as wiki pages, monitoring pages, etc.</dd>
    <dt>Endpoints</dt><dd>A list of endpoint URLs</dd>
    <dt>Business Value</dt><dd>Describes the Value of this service to the business<br/>
        <strong>High</strong>, High Value services provides critical business functionality<br/>
        <strong>Medium</strong>, Medium Value service supports "High" Value services, for example reporting, configuration, logging systems<br/>
        <strong>Low</strong>, Low Value services provide non-critical business functionality, for example a system that stores meta-data about other services...doh</dd>
    <dt>PII</dt><dd>Describes if and how the service interacts with Personally Identifying Information<br/>
        <strong>Service stores PII</strong><br/>
        <strong>Service processes PII</strong><br/>
        <strong>None</strong></dd>
    <dt>Data Centers</dt><dd>
        <div ng-repeat="r in config.dataCenters"><strong>{{r.code}}</strong>, {{r.description}}<br/></div>
</dl>
<h3>Service HA Ratings</h3>
<dl class="dl-horizontal">
    <div ng-repeat="haDim in config.haDimensions">
        <dt>{{haDim.name}}</dt><dd>
            <div ng-repeat="r in haDim.levels"><strong>{{r.code}}</strong>, {{r.description}}<br/></div>
    </div>
</dl>
<h3>Service Version</h3>
<dl class="dl-horizontal">
    <dt>API</dt><dd>The version of the service's API.</dd>
    <dt>Impl</dt><dd>The current version of the software that implements the service.</dd>
    <dt>Status</dt><dd>The life cycle of this version of the service:<br/>
        <strong>Proposed</strong>, The service has been proposed and is under development, but is not yet in production.<br/>
        <strong>Active</strong>, The service is in production and is actively maintained.<br/>
        <strong>Live</strong>, The service is in production but is not actively being maintained.<br/>
        <strong>Retiring</strong>, The service is in production but the owning team is in the process of turning off the service.<br/>
        <strong>Retired</strong>, The service is no longer in production.</dd>
    <dt>Operations</dt><dd>A list of operations/URLs that can be performed on the versions, such as health, version, availability, etc.</dd>
    <dt>Scope</dt><dd>Scope defines the nature of service's dependence on another service:<br/>
        <strong>Sync Required</strong>, To complete critical functions this service makes synchronous calls to the dependant service.<br/>
        <strong>Async Required</strong>, To complete critical functions this service makes direct async calls to the dependant service.<br/>
        <strong>Indirect Required</strong>, To complete critical functions this service makes indirect async calls via a queue to the dependant service.<br/>
        <strong>Support</strong>, In the background this service makes support calls to the dependant service, for example logging or metrics.</dd>
</dl>
<h1>Service Graph</h1>
<h3>Service Shape</h3>
<dl class="dl-horizontal">
    <dt>Box</dt><dd>Applications</dd>
    <dt>Ellipse</dt><dd>Service</dd>
</dl>
<h3>Service Colour</h3>
<dl class="dl-horizontal">
    <dt>White</dt><dd>Internal service or application</dd>
    <dt>Yellow</dt><dd>External service or application</dd>
</dl>
<h3>Service Border</h3>
<dl class="dl-horizontal">
    <dt>Black</dt><dd>Actively supported version</dd>
    <dt>Red</dt><dd>Version is retired or is retiring</dd>
</dl>
<h3>Service Hover</h3>
Hover your mouse over a service to see more details including a link to the service page.
<h3>Uses (arrow) Colour</h3>
<dl class="dl-horizontal">
    <dt>Blue</dt><dd>Sync Required</dd>
    <dt>Black</dt><dd>Async Required</dd>
    <dt>Brown</dt><dd>Indirect Async Required</dd>
    <dt>green</dt><dd>Support</dd>
</dl>
