<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <p>
                <label for="query">Search:</label>
                <input ng-model="query" id="query" class="form-control" placeholder="Search query">
            </p>
            <p>
                <label for="orderProp">Sort by:</label>
                <select ng-model="orderProp" id="orderProp" class="form-control">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="services">
                <li ng-repeat="service in services| filter:query | orderBy:orderProp"
                    class="thumbnail">
                    <a href="#/services/{{service._id}}" class="thumb"><img ng-src="{{service.imageLogo}}"></a>
                    <a href="#/services/{{service._id}}">{{service._id}} - {{service.name}}</a> {{service.access}} {{service.type}}
                    <p>{{service.team}}</p>
                    <p>{{service.description}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
