<h1>Edit Service</h1>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="_id" class="col-sm-2 control-label">Abbreviation</label>
        <div class="col-sm-10">
            <input type="text" id="_id" ng-model="editForm._id" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" ng-model="editForm.name" ng-minlength="1" ng-maxlength="30" required="true" placeholder="My First Service">
        </div>
    </div>
    <div class="form-group">
        <label for="team" class="col-sm-2 control-label">Team Name</label>
        <div class="col-sm-10">
            <input type="text" id="team" ng-model="editForm.team" ng-minlength="1" ng-maxlength="30" required="true" placeholder="My team">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
           <textarea id="description" ng-model="editForm.description" placeholder="Does stuff" required="true" class="form-control" rows="3"></textarea>
         </div>
    </div>
    <div class="form-group">
        <label for="access" class="col-sm-2 control-label">Access</label>
        <div class="col-sm-10">
            <select id="access" ng-model="editForm.access">
                <option value="Internal">Internal</option>
                <option value="External">External</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select id="type" ng-model="editForm.type">
                <option value="Service">Service</option>
                <option value="Application">Application</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <select id="type" ng-model="editForm.state">
                <option value="Stateless">Stateless</option>
                <option value="Statefull">Statefull</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="submitEditServiceForm()" class="btn btn-info btn-xs">Submit Form</button> 
            <a href="#/services/{{service._id}}" class="btn btn-info btn-xs">Cancel</a>
        </div>
    </div>
</form>