<div class ="row">
    <div class="col-md-12">
        <h1>{{service._id}} - {{service.name}} 
            <a href="#/editService/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Service</a> 
            <a href="#/createVersion/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Version</a>
            <a href="#/createEnv/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Env</a>
            <a href="#/addImage/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-picture"></span> Add Image</a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <div class="service-image">
            <img ng-src="{{mainImageUrl}}">
        </div>

    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{service.description}}</dd>
            <dt>Team</dt>
            <dd>{{service.team}}<span ng-repeat="t in config.teams"><span ng-if="t.code == service.team"><span ng-if="t.url">, <a ng-href="{{t.url}}" target="_blank">team web page</a></span><span ng-if="t.email">, <a ng-href="mailto:{{t.email}}">team email</a></span></span></span></dd>
            <dt>Product</dt>
            <dd>{{service.product}}<span ng-repeat="t in config.products"><span ng-if="t.code == service.product"><span ng-if="t.url">, <a ng-href="{{t.url}}" target="_blank">product web page</a></span><span ng-if="t.email">, <a ng-href="mailto:{{t.email}}">product email</a></span></span></span></dd>
            <dt>State</dt>
            <dd>{{service.state}}</dd>
            <dt>Access</dt>
            <dd>{{service.access}}</dd>
            <dt>Type</dt>
            <dd>{{service.type}}</dd>
            <dt>Technology</dt>
            <dd>{{service.tech}}</dd>
            <dt>Business Value</dt>
            <dd>{{service.busValue}}</dd>
            <dt>PII</dt>
            <dd>{{service.pii}}</dd>
            <dt>Links</dt>
            <dd>
                <span ng-repeat="link in service.links">
                    <strong>{{link.name}}</strong> <a ng-href="{{link.url}}" target="_blank">{{link.url}}</a> <br/>
                </span>
            </dd>
            <dt>HA Ratings</dt>
            <dd>
                <span ng-repeat="rating in service.haRatings">
                    <strong>{{rating.name}}</strong> {{rating.level}} <br/>
                </span>
            </dd>
            <div ng-repeat="warning in service.warnings">
                <dt>Warning</dt>
                <dd>{{warning.text}}</dd>
            </div>
        </dl>

        <ul class="service-thumbs">
            <li ng-repeat="img in service.images">
                <img ng-src="{{img}}" ng-click="setImage(img)">
            </li>
        </ul>

    </div>
</div>

<div ng-repeat="version in service.versions">
    <div class ="row">
        <div class="col-md-12">
            <h1>Version {{version.api}}<a ng-href="#/editVersion/{{service._id}}/{{version.api}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Version</a></h1>
        </div>
    </div>
    <div class ="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>API Ver</dt>
                <dd>{{version.api}}</dd>
                <dt>Status</dt>
                <dd>{{version.status}}</dd>
                <div ng-repeat="link in version.links">
                    <dt>{{link.name}}</dt>
                    <dd>
                        <span ng-repeat="env in service.envs">
                            <a ng-href="http://{{env.vip}}{{link.url}}" target="_blank">{{env.name}}</a><br/>
                        </span>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="col-md-4">
            <h4>{{service.id}} uses:</h4>
            <ul>
                <li ng-repeat="s in version.uses">
                    <a ng-href="#/services/{{s.service}}">{{s.service}}</a> v{{s.version}} ({{s.scope}})
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>{{service.id}} used by:</h4>
            <ul>
                <li ng-repeat="s in version.usedby">
                    <a ng-href="#/services/{{s.service}}">{{s.service}}</a> v{{s.version}} ({{s.scope}})
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-repeat="env in service.envs">
    <div class ="row">
        <div class="col-md-12">
            <h1>Env {{env.name}}<a ng-href="#/editEnv/{{service._id}}/{{env.name}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Env</a></h1>
        </div>
    </div>
    <div class ="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Env</dt>
                <dd>{{env.name}}</dd>
                <dt>VIP Name</dt>
                <dd>{{env.vip}}</dd>
            </dl>
        </div>
        <div class="col-md-8">
            <div ng-repeat="host in env.hosts">
                {{host.dataCenter}} {{host.name}} {{host.status}} {{host.implVersion}}
                <span ng-repeat="version in service.versions">
                    <span ng-repeat="link in version.links">
                        <a ng-href="http://{{host.name}}{{link.url}}" target="_blank">{{link.name}}</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>