<div class ="row">
    <div class="col-md-12">
        <h1>{{service._id}} - {{service.name}} 
            <a href="#/editService/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Service</a> 
            <a href="#/createVersion/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Version</a>
            <a href="#/addImage/{{service._id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-picture"></span> Add Image</a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <div class="service-image">
            <img ng-src="{{mainImageUrl}}">
        </div>

    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{service.description}}</dd>
            <dt>Team</dt>
            <dd>{{service.team}}</dd>
            <dt>State</dt>
            <dd>{{service.state}}</dd>
            <dt>Access</dt>
            <dd>{{service.access}}</dd>
            <dt>Type</dt>
            <dd>{{service.type}}</dd>
            <dt>Technology</dt>
            <dd>{{service.tech}}</dd>
            <dt>Business Value</dt>
            <dd>{{service.busValue}}</dd>
            <dt>PII</dt>
            <dd>{{service.pii}}</dd>
            <dt>End Points</dt>
            <dd>
                <span ng-repeat="ep in service.endpoints">
                    <strong>{{ep.env}}</strong> {{ep.url}} <br/>
                </span>
            </dd>
            <dt>Links</dt>
            <dd>
                <span ng-repeat="link in service.links">
                    <strong>{{link.name}}</strong> <a href="{{link.url}}">{{link.url}}</a> <br/>
                </span>
            </dd>
            <dt>Data Centers</dt>
            <dd>
                <span ng-repeat="datacenter in service.dataCenters">
                    <span ng-if="datacenter.status != 'None'">
                        <strong>{{datacenter.name}}</strong> {{datacenter.status}} <br/>
                    </span>
                </span>
            </dd>
            <dt>HA Ratings</dt>
            <dd>
                <span ng-repeat="rating in service.haRatings">
                    <strong>{{rating.name}}</strong> {{rating.level}} <br/>
                </span>
            </dd>
            <div ng-repeat="warning in service.warnings">
                <dt>Warning</dt>
                <dd>{{warning.text}}</dd>
            </div>
        </dl>

        <ul class="service-thumbs">
            <li ng-repeat="img in service.images">
                <img ng-src="{{img}}" ng-click="setImage(img)">
            </li>
        </ul>

    </div>
</div>

<div ng-repeat="version in service.versions">
    <div class ="row">
        <div class="col-md-12">
            <h1>{{service._id}} - Version {{version.api}}<a href="#/editVersion/{{service._id}}/{{version.api}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit Version</a></h1>
        </div>
    </div>
    <div class ="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>API Ver</dt>
                <dd>{{version.api}}</dd>
                <dt>Impl Ver</dt>
                <dd>{{version.impl}}</dd>
                <dt>Status</dt>
                <dd>{{version.status}}</dd>
                <div ng-repeat="link in version.links">
                    <dt>{{link.name}}</dt>
                    <dd>
                        <span ng-repeat="ep in service.endpoints">
                            <a href="{{ep.url}}{{link.url}}">{{ep.env}}</a><br/>
                        </span>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="col-md-4">
            <h4>{{service.id}} uses:</h4>
            <ul>
                <li ng-repeat="s in version.uses">
                    <a href="#/services/{{s.service}}">{{s.service}}</a> v{{s.version}} ({{s.scope}})
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>{{service.id}} used by:</h4>
            <ul>
                <li ng-repeat="s in version.usedby">
                    <a href="#/services/{{s.service}}">{{s.service}}</a> v{{s.version}} ({{s.scope}})
                </li>
            </ul>
        </div>
    </div>
</div>