<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input type="text" class="form-control" placeholder="Filter hosts" ng-model="hostFilter">
                </div>      
            </div>
        </form>
        <uib-tabset type="pills">
            <uib-tab ng-repeat="n in service.environments" heading="{{n.environment}}">
                <div ng-repeat="mn in n.modules">
                    <h4>
                        <div class="btn-group" uib-dropdown ng-if="service.canModify" is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-if="config.enableVipProvisioning"><a ng-click="openAddVipModal(mn);">Provision new VIP</a></li>
                                <li role="menuitem"><a ng-click="openBackfillVipModal(mn);">Backfill existing VIP</a></li>
                            </ul>
                        </div>
                        {{mn.moduleName}}
                    </h4>
                    <div ng-if="mn.vips.length > 0">
                        <table class="table table-hover table-striped table-condensed">
                            <tr>
                                <th width="50%">DNS</th>
                                <th width="10%">Protocol Mode</th>
                                <th width="10%">Priority Mode</th>
                                <th width="10%">VIP Port</th>
                                <th width="10%">Service Port</th>
                                <th width="10%">External</th>
                            </tr>
                            <tr ng-repeat-start="ep in mn.vips">
                                <td>
                                    <span ng-if="ep.expanded" class="glyphicon glyphicon-chevron-down" ng-click="ep.expanded = false"></span>
                                    <span ng-if="!ep.expanded" class="glyphicon glyphicon-chevron-right" ng-click="getVipDetails(ep);"></span>
                                    <div class="btn-group" uib-dropdown ng-if="!ep.busy && service.canModify" is-open="status.isopen">
                                        <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
                                            <span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
                                        </button>
                                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                            <li role="menuitem"><a ng-click="openUpdateVipModal(ep);">Update VIP</a></li>
                                            <li role="menuitem"><a ng-click="deleteVip(ep.vipId);">Delete VIP</a></li>
                                            <li role="menuitem" ng-if="config.enableVipMigration && ep.migration == 0"><a ng-click="migrateVip(ep.vipId);">Migrate VIP Step 1</a></li>
                                            <li role="menuitem" ng-if="config.enableVipMigration && ep.migration == 1"><a ng-click="migrateVip(ep.vipId);">Migrate VIP Step 2</a></li>
                                        </ul>
                                    </div>
                                    <a href="{{ep.protocol}}://{{ep.dns}}.{{ep.domain}}:{{ep.vipPort}}" target="_blank">{{ep.dns}}.{{ep.domain}}</a>
                                    <span ng-if="ep.status !== '-'">
                                        <span class="label label-warning">{{ep.status}}</span>
                                    </span>
                                </td>
                                <td>{{ep.protocolMode}}</td>
                                <td>{{ep.priorityMode}}</td>
                                <td>{{ep.vipPort}}</td>
                                <td>{{ep.servicePort}}</td>
                                <td>{{ep.external}}</td>
                            </tr>
                            <tr ng-if="ep.expanded" ng-repeat-end="">
                                <td colspan="5">
                                    <div ng-if="ep.loaded">
                                        <table class="table table-hover table-striped table-condensed">
                                            <tr>
                                                <th></th>
                                                <th ng-repeat="dc in config.dataCenters" class="text-center">{{dc}}</th>
                                            </tr>
                                            <tr>
                                                <td>Name</td>
                                                <td ng-repeat="dc in config.dataCenters" class="text-center">{{getVipDetailsName(ep.details, dc)}}</td>
                                            </tr>
                                            <tr>
                                                <td>IP Address</td>
                                                <td ng-repeat="dc in config.dataCenters" class="text-center">{{getVipDetailsAddress(ep.details, dc)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Connections</td>
                                                <td ng-repeat="dc in config.dataCenters" class="text-center">{{getVipDetailsConections(ep.details, dc)}}</td>
                                            </tr>
                                            <tr ng-repeat="h in ep.details.rows| filter:hostFilter">
                                                <td>
                                                    {{h.hostName}}
                                                    <span ng-if="h.warning !== '-'" uib-popover="{{h.warning}}" popover-trigger="mouseenter" class="glyphicon glyphicon-info-sign text-danger"></span>
                                                </td>
                                                <td ng-repeat="dc in config.dataCenters" class="text-center">
                                                    {{getVipDetailsPriority(h.details, dc)}}
                                                    <span ng-if="getVipDetailsOff(h.details, dc)" class="glyphicon glyphicon-off text-danger"></span>
                                                    <span ng-if="getVipDetailsOn(h.details, dc)" class="glyphicon glyphicon-thumbs-up text-success"></span>
                                                    <span ng-if="getVipDetailsError(h.details, dc)" class="glyphicon glyphicon-fire text-danger"></span>
                                                    {{getVipDetailsConnections(h.details, dc)}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-if="!ep.loaded">
                                        Loading...
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <b>Host/Data Center Legend:</b><br/>
                <b>Priority</b> - Higher the better.<br/>
                <span class="glyphicon glyphicon-thumbs-up text-success"></span> - Host is enabled and availability is 200<br/>
                <span class="glyphicon glyphicon-off text-danger"></span> - Host is disabled<br/>
                <span class="glyphicon glyphicon-fire text-danger"></span> - Host is enabled but availability is not 200<br/>
                <b>Connections</b> - The current number of connections to the host from clients within the Data Center.

            </uib-tab>
        </uib-tabset>
    </div>
</div>
