<h1>Edit Service {{editForm._id}}</h1>
<form class="form-horizontal" role="form">
    <h4>Service Details</h4>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" ng-model="editForm.name" ng-minlength="1" ng-maxlength="30" required="true" placeholder="My First Service" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="team" class="col-sm-2 control-label">Team Name</label>
        <div class="col-sm-10">
            <select ng-model="editForm.team" ng-options="t.code as t.code for t in config.teams" id="team" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="team" class="col-sm-2 control-label">Product Name</label>
        <div class="col-sm-10">
            <select ng-model="editForm.product" ng-options="t.code as t.code for t in config.products" id="product" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea id="description" ng-model="editForm.description" placeholder="Does stuff" required="true" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <select id="type" ng-model="editForm.state" class="form-control">
                <option value="Stateless">Stateless</option>
                <option value="Statefull">Statefull</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="access" class="col-sm-2 control-label">Access</label>
        <div class="col-sm-10">
            <select id="access" ng-model="editForm.access" class="form-control">
                <option value="Internal">Internal</option>
                <option value="External">External</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select id="type" ng-model="editForm.type" class="form-control">
                <option value="Service">Service</option>
                <option value="Application">Application</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="tech" class="col-sm-2 control-label">Technology</label>
        <div class="col-sm-10">
            <textarea id="tech" ng-model="editForm.tech" placeholder="How the service does stuff" required="true" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group" ng-repeat="link in editForm.links">
        <label class="col-sm-2 control-label">Link</label>
        <div class="col-sm-4">
            <input type="text" id="team" ng-model="link.name" ng-minlength="1" ng-maxlength="30" placeholder="Name" class="form-control">
        </div>
        <div class="col-sm-6">
            <input type="text" id="team" ng-model="link.url" ng-minlength="1" ng-maxlength="100" placeholder="URL" class="form-control">
        </div>
    </div>
    <h4>HA Ratings</h4>
    <div class="form-group" ng-repeat="haRating in editForm.haRatings">
        <label class="col-sm-2 control-label">{{haRating.name}}</label>
        <div class="col-sm-10">
            <span ng-repeat="haDim in config.haDimensions">
                <span ng-if="haDim.code == haRating.name">
                    <select ng-model="haRating.level" ng-options="t.code as t.code for t in haDim.subItems" class="form-control"></select>
                </span>
            </span>
        </div>
    </div>
    <h4>Classification Ratings</h4>
    <div class="form-group" ng-repeat="classRating in editForm.classRatings">
        <label class="col-sm-2 control-label">{{classRating.name}}</label>
        <div class="col-sm-10">
            <span ng-repeat="classDim in config.classDimensions">
                <span ng-if="classDim.code == classRating.name">
                    <select ng-model="classRating.level" ng-options="t.code as t.code for t in classDim.subItems" class="form-control"></select>
                </span>
            </span>
        </div>
    </div>
    <h4>Technical Details</h4>
    <div class="form-group">
        <label for="mavenUrl" class="col-sm-2 control-label">Maven URL</label>
        <div class="col-sm-10">
            <input type="text" id="mavenUrl" ng-model="createForm.mavenUrl" ng-minlength="1" ng-maxlength="100" required="true" placeholder="http://repo1.maven.org/maven2/HTTPClient/HTTPClient/" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="versionUrl" class="col-sm-2 control-label">Version URL</label>
        <div class="col-sm-10">
            <input type="text" id="versionUrl" ng-model="editForm.versionUrl" ng-minlength="1" ng-maxlength="30" required="true" placeholder="/version" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="submitEditServiceForm()" class="btn btn-info btn-xs">Submit Form</button> 
            <a ng-href="#/services/{{editForm._id}}" class="btn btn-info btn-xs">Cancel</a>
        </div>
    </div>
</form>