<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Year<br/>
                <select ng-model="search.year" class="form-control">
                    <option value="2016">2016</option> 
                    <option value="2017">2017</option>
                </select>
            </div>
            <div class="col-md-4">Month<br/>
                <select ng-model="search.month" class="form-control">
                    <option value="1">January</option> 
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="col-md-2">Start Day<br/>
                <input type="number" ng-model="search.start" class="form-control"/>
            </div>
            <div class="col-md-2">End Day<br/>
                <input type="number" ng-model="search.end" class="form-control"/>
            </div>
            <div class="col-md-2"><br/>
                <a ng-click="searchAudit()" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-search"></span> Search</a><br/>
            </div>
        </div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input type="text" class="form-control" placeholder="Filter audit records" ng-model="auditFilter">
                </div>      
            </div>
        </form>       
        <table class="table table-hover table-striped table-condensed">
            <tr>
                <th></th>
                <th>Requestor</th>
                <th>Performed</th>
                <th>Type</th>
                <th>Operation</th>
                <th>Module</th>
                <th>Host</th>
                <th>VIP</th>
            </tr>
            <tr ng-repeat-start="a in audits| filter:auditFilter">
                <td>
                    <span ng-if="a.expanded" class="glyphicon glyphicon-chevron-down" ng-click="a.expanded = false"></span>
                    <span ng-if="!a.expanded" class="glyphicon glyphicon-chevron-right" ng-click="getAuditOutput(a);"></span>
                    <span ng-if="a.successfull" class="glyphicon glyphicon-thumbs-up text-success"></span>
                    <span ng-if="!a.successfull" class="glyphicon glyphicon-thumbs-down text-danger"></span>
                </td>
                <td>{{a.requestor}}</td>
                <td>{{a.timePerformed}}</td>
                <td>{{a.type}}</td>
                <td>{{a.operation}}</td>
                <td>{{a.moduleName}}</td>
                <td>{{a.hostName}}</td>
                <td>{{a.vipName}}</td>
            </tr>
            <tr ng-if="a.expanded" ng-repeat-end="">
                <td colspan="9">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Requested:</dt><dd>{{a.timeRequested}}</dd>
                                <div ng-repeat="d in a.left">
                                    <dt>{{d.label}}:</dt><dd>{{d.value}}</dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <div ng-repeat="d in a.right">
                                    <dt>{{d.label}}:</dt><dd>{{d.value}}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <pre ng-if="a.output.length > 0">{{a.output}}</pre>
                </td>
            </tr>
        </table>
    </div>
</div>
