<div ng-if="loading">Loading...</div>
<div ng-if="!loading">
    <h3>
        <div class="btn-group" uib-dropdown ng-if="service.canModify && service.active" is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
                <span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="openUpdateServiceModal();">Update {{service.serviceName}}</a></li>
                <li role="menuitem"><a ng-click="openDeleteServiceModal();">Delete {{service.serviceName}}</a></li>
            </ul>
        </div>
        {{service.serviceName}}
    </h3>
    <span ng-if="!service.active">Service was deleted on {{service.deletionDate}}, see audit for details.</span>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{service.serviceName}}</dd>
                <dt>Description:</dt>
                <dd>{{service.description}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Type:</dt>
                <dd>{{service.serviceType}}</dd>
                <span ng-if="service.serviceType === 'Service'">
                    <dt>Git Mode:</dt>
                    <dd>{{service.gitMode}}</dd>
                    <div ng-if="service.gitMode === 'Consolidated'">
                        <dt>Git Project:</dt>
                        <dd>
                            <a href="{{config.gitUiURL}}{{team.gitGroup}}/{{service.gitProject}}" target="_blank">{{team.gitGroup}}/{{service.gitProject}}.git</a>
                        </dd>
                    </div>
                </span>
                <dt>Creation Date:</dt>
                <dd>{{service.creationDate}}</dd>
            </dl>
        </div>            
    </div> 
    <div ng-if="service.active && service.serviceType === 'Service'">
        <uib-tabset type="pills">
            <uib-tab heading="Modules">
                <div ng-include src="'partials/serviceModule.html'"></div>
            </uib-tab>
            <uib-tab heading="Hosts">
                <div ng-include src="'partials/serviceHost.html'"></div>
            </uib-tab>
            <uib-tab heading="VIPs">
                <div ng-include src="'partials/serviceVip.html'"></div>
            </uib-tab>
            <uib-tab heading="Data Stores">
                <div ng-include src="'partials/serviceDataStore.html'"></div>
            </uib-tab>
            <uib-tab heading="Custom Functions">
                <div ng-include src="'partials/serviceCustomFunction.html'"></div>
            </uib-tab>
            <uib-tab heading="Docs">
                <div ng-include src="'partials/serviceDocs.html'"></div>
            </uib-tab>
            <uib-tab heading="Audit">
                <div ng-include src="'partials/serviceAudit.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div ng-if="service.active && service.serviceType !== 'Service'">
        <uib-tabset type="pills">
            <uib-tab heading="Modules">
                <div ng-include src="'partials/serviceModule.html'"></div>
            </uib-tab>
            <uib-tab heading="Docs">
                <div ng-include src="'partials/serviceDocs.html'"></div>
            </uib-tab>
            <uib-tab heading="Audit">
                <div ng-include src="'partials/serviceAudit.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div ng-if="!service.active">
        <uib-tabset type="pills">
            <uib-tab heading="Audit">
                <div ng-include src="'partials/serviceAudit.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>