<h3>{{team.teamName}}
    <div class="btn-group" uib-dropdown ng-if="team.canModify" is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
            Options <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="openUpdateTeamModal();">Update {{team.teamName}}</a></li>
            <li role="menuitem"><a ng-click="openAddServiceModal();">Add a service to {{team.teamName}}</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a ng-click="openAddUserModal();">Add a team member</a></li>
            <li role="menuitem" ng-repeat="username in team.usernames">
                <a ng-click="removeUserFromTeam(username);">Remove {{username}} from {{team.teamName}}</a>
            </li>
        </ul>
    </div>
</h3>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd>{{team.teamName}}</dd>
            <dt>Email</dt>
            <dd>{{team.teamEmail}}</dd>
            <dt>IRC</dt>
            <dd>{{team.teamIrc}}</dd>
            <dt>Git Repo</dt>
            <dd>{{team.gitRepo}}</dd>
            <dt>Calendar</dt>
            <dd>{{team.calendarId}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Members:</dt>
            <dd>
                <div ng-repeat="username in team.usernames">
                    {{username}}<br/>
                </div>
            </dd>
    </div>
</div>
