<div ng-if="loading">Loading...</div>
<div ng-if="!loading">
    <h1>{{dashboard.teamName}} Dashboard for {{env}}</h1>
    <table class="table table-hover table-striped table-condensed vertical-align">
        <tr>
            <th>Service</th>
            <th>Module</th>
            <th ng-repeat="dc in config.dataCenters" class="text-center">{{dc}}</th>
        </tr>
        <tr ng-repeat="module in dashboard.modules">
            <td><a href="#/Service/{{module.serviceId}}">{{module.serviceName}}</a></td>
            <td>{{module.moduleName}}</td>
            <td ng-repeat="dc in config.dataCenters">
                <uib-progress ng-if="module.counts[dc].total > 0" max="module.counts[dc].total">
                    <uib-bar value="module.counts[dc].good" type="success"><span>{{module.counts[dc].good}}</span></uib-bar>
                    <uib-bar value="module.counts[dc].off" type="warning"><span>{{module.counts[dc].off}}</span></uib-bar>
                    <uib-bar value="module.counts[dc].bad" type="danger"><span>{{module.counts[dc].bad}}</span></uib-bar>
                </uib-progress>
            </td>
        </tr>
    </table>
    <uib-progress max="3">
        <uib-bar value="1" type="success"><span>200 response code</span></uib-bar>
        <uib-bar value="1" type="warning"><span>Timeout</span></uib-bar>
        <uib-bar value="1" type="danger"><span>Non 200 response code</span></uib-bar>
    </uib-progress>
</div>