<div ng-if="loading">Loading...</div>
<div ng-if="!loading">
    <h3>{{team.teamName}}
        <div class="btn-group" uib-dropdown ng-if="team.canModify" is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn btn-info btn-xs" uib-dropdown-toggle>
                <span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="openUpdateTeamModal();">Update {{team.teamName}}</a></li>
                <li role="menuitem"><a ng-click="openAddServiceModal(true);">Add a service to {{team.teamName}}</a></li>
                <li role="menuitem"><a ng-click="openAddServiceModal(false);">Add a simplified service to {{team.teamName}}</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="openAddUserModal();">Add a team member</a></li>
                <li role="menuitem" ng-repeat="user in team.users">
                    <a ng-click="removeUserFromTeam(user.username);">Remove {{user.fullName}} from {{team.teamName}}</a>
                </li>
            </ul>
        </div>
    </h3>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>{{team.teamName}}</dd>
                <dt>Git Group:</dt>
                <dd>{{team.gitGroup}}</dd>
                <div ng-if="team.teamEmail">
                    <dt>Email:</dt>
                    <dd>{{team.teamEmail}}</dd>
                </div>
                <div ng-if="team.teamIrc">
                    <dt>IRC:</dt>
                    <dd>{{team.teamIrc}}</dd>
                </div>
                <div ng-if="team.teamSlack">
                    <dt>Slack:</dt>
                    <dd>{{team.teamSlack}}</dd>
                </div>
                <div ng-if="team.teamPage">
                    <dt>Team Page:</dt>
                    <dd><a href="{{team.teamPage}}" target="_blank">{{team.teamPage}}</a></dd>
                </div>
                <div ng-if="team.calendarId">
                    <dt>Calendar:</dt>
                    <dd>{{team.calendarId}}</dd>
                </div>
                    <dt>Colour:</dt>
                    <dd>{{team.colour}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Members:</dt>
                <dd>
                    <div ng-repeat="user in team.users">
                        {{user.fullName}}<br/>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>