<div class="modal-header">
  <h3 class="modal-title">Transfer Service</h3>
</div>
<div class="modal-body">
  <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
  <uib-alert>Transferring a service to another team does not make any changes in Git or Maven.</uib-alert>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label for="name" class="col-sm-4 control-label">New Team:</label>
      <div class="col-sm-8">
        <select ng-model="formTransferService.team" ng-options="r as r.teamName for r in teams.teams" class="form-control"></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label for="email" class="col-sm-4 control-label">Reason:</label>
      <div class="col-sm-8">
        <input ng-model="formTransferService.reason" type="text" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Transfer Service</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
