<div class="modal-header">
  <h3 class="modal-title">Transfer Service</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-if="errorMsg !== null">{{errorMsg}}</div>
  <div class="alert alert-success">Transferring a service to another team does not make any changes in Git or Maven.</div>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">New Team:</label>
      <div class="col-sm-9">
        <select ng-model="formTransferService.team" ng-options="r as r.teamName for r in teams.teams" class="form-control"></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Reason:</label>
      <div class="col-sm-9">
        <input ng-model="formTransferService.reason" type="text" class="form-control">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Transfer Service</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
