<br/>
<div class="row">
    <div class="col-md-3">
        <abn-tree 
            tree-data="my_data" 
            tree-control="my_tree" 
            on-select="my_tree_handler(branch)" 
            expand-level="3" >
        </abn-tree>
    </div>
    <div class="col-md-9">
        <div ng-show="displayTeam">
            <dl class="dl-horizontal">
                <dt>Team Name:</dt>
                <dd>{{team.teamName}}</dd>
            </dl>
            <div>
                <a ng-click="openAddServiceModal();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Service</a>
                <a ng-click="" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Data Store</a>
                <a ng-click="" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Team Member</a>
            </div>
        </div>
        <div ng-show="displayService">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Service Name:</dt>
                        <dd>{{labelService.serviceAbbr}} - {{labelService.serviceName}}</dd>
                        <dt>Description:</dt>
                        <dd>{{labelService.description}}</dd>
                        <dt>Maven Group Id:</dt>
                        <dd>{{labelService.mavenGroupId}}</dd>
                        <dt>Maven Artifact Id:</dt>
                        <dd>{{labelService.mavenArtifactId}}</dd>
                        <dt>Version URL:</dt>
                        <dd>http://{host}{{labelService.versionUrl}}</dd>
                        <dt>Availability URL:</dt>
                        <dd>http://{host}{{labelService.availabilityUrl}}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Used By:</dt>
                        <dd>
                            <div ng-repeat="sr in labelService.usedBy">
                                <a ng-click="selectTreeNode(sr.clientServiceId);">{{sr.serviceName}}</a>
                                <a class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                                <br/>
                            </div>
                        </dd>
                        <dt>Uses:</dt>
                        <dd>
                            <div ng-repeat="sr in labelService.uses">
                                <a ng-click="selectTreeNode(sr.serverServiceId);">{{sr.serviceName}}</a>
                                <a class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                                <br/>
                            </div>
                        </dd>
                    </dl>
                </div>            
            </div>  
            <div>
                <a ng-click="openAddUsesModal();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Uses Service</a>
                <a ng-click="openAddVipModal();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add VIP</a>
                <a ng-click="openUpdateVipModal();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Update VIP</a>
                <a ng-click="openAddHostModal();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Host</a>
                <a ng-click="openUpdateHostModal();" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Update Host(s)</a>
                <a ng-click="restartHost();" class="btn btn-info btn-xs" uib-popover="Restarts the selected Hosts one at a time." popover-trigger="mouseenter"><span class="glyphicon glyphicon-plus"></span> Restart Hosts</a>
                <a ng-click="addHostToVip();" class="btn btn-info btn-xs" uib-popover="Adds the selected Hosts to the selected VIPs." popover-trigger="mouseenter"><span class="glyphicon glyphicon-plus"></span> Add Hosts to VIPs</a>
                <span ng-repeat="cf in labelService.customFunctions">
                    <a class="btn btn-primary btn-xs">{{cf}}</a>
                </span>
                <a ng-click="refresh();" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
            </div>
            <table class="table table-hover  table-condensed">
                <tr>
                    <th></th>
                    <th>VIP</th>
                    <th>DNS</th>
                    <th>External</th>
                    <th>Network</th>
                    <th>Protocol</th>
                    <th>VIP Port</th>
                    <th>Service Port</th>
                </tr>
                <tr ng-repeat="ep in labelService.vips">
                    <td>
                        <span ng-if="ep.status === '-'">
                            <input ng-model="formSelectVip[ep.vipId]" type="checkbox">
                        </span>
                    </td>
                    <td>
                        {{ep.vipName}}
                        <span ng-if="ep.status === '-'">
                            <a ng-click="deleteVip(ep.vipId);" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                        </span>
                        <span ng-if="ep.status !== '-'">
                            <span class="label label-warning">{{ep.status}}</span>
                        </span>
                    </td>
                    <td>{{ep.dns}}</td>
                    <td>{{ep.external}}</td>
                    <td>{{ep.network}}</td>
                    <td>{{ep.protocol}}</td>
                    <td>{{ep.vipPort}}</td>
                    <td>{{ep.servicePort}}</td>
                </tr>
            </table>
            <br/>
            <table class="table table-hover  table-condensed">
                <tr>
                    <th></th>
                    <th>Host</th>
                    <th>DC</th>
                    <th>Network</th>
                    <th>EP</th>
                    <th>Env.</th>
                    <th>Size</th>
                    <th>Ver.</th>
                    <th>Avail.</th>
                </tr>
                <tr ng-repeat="i in labelService.hosts">
                    <td>
                        <span ng-if="i.status === '-'">
                            <input ng-model="formSelectHost[i.hostId]" type="checkbox">
                        </span>
                    </td>
                    <td>
                        {{i.hostName}}
                        <span ng-if="i.status === '-'">
                            <a ng-click="deleteHost(i.hostId);" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                        </span>
                        <span ng-if="i.status !== '-'">
                            <span class="label label-warning">{{i.status}}</span>
                        </span>
                    </td>
                    <td>{{i.dataCenter}}</td>
                    <td>{{i.network}}</td>
                    <td>
                        <div ng-repeat="epr in i.vipRefs">
                            {{epr.vipName}}
                            <span ng-if="epr.status === '-'">
                                <a ng-click="deleteHostFromVip(i.hostId, epr.vipId);" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                            </span>
                            <span ng-if="epr.status !== '-'">
                                <span class="label label-warning">{{epr.status}}</span>
                            </span>
                        </div>
                    </td>
                    <td>{{i.env}}</td>
                    <td>{{i.size}}</td>
                    <td>
                        <span ng-if="i.version !== 'Time Out'">
                            <span class="label label-success">{{i.version}}</span>
                        </span>
                        <span ng-if="i.version === 'Time Out'">
                            <span class="label label-danger">{{i.version}}</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="i.availability === -1">
                            <span class="label label-danger">Time Out</span>
                        </span>
                        <span ng-if="i.availability < 300 && i.availability > 99">
                            <span class="label label-success">{{i.availability}}</span>
                        </span>
                        <span ng-if="i.availability > 299">
                            <span class="label label-danger">{{i.availability}}</span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="displayDataStore">
            <dl class="dl-horizontal">
                <dt>Data Store Id Id</dt>
                <dd>{{labelDataStore.dataStoreId}}</dd>
                <dt>Data Store Name:</dt>
                <dd>{{labelDataStore.dataStoreName}}</dd>
                <dt>Type:</dt>
                <dd>{{labelDataStore.type}}</dd>
            </dl>
        </div>
        <div ng-show="displayLoading">
            Loading
        </div>
    </div>
</div>
