<div class="modal-header">
    <h3 class="modal-title">Update Service</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formUpdateService.serviceName" type="text" class="form-control"></dd>
        <dt>Description:</dt>
        <dd><textarea ng-model="formUpdateService.description" type="text" class="form-control"></textarea></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Update Service</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>