<div class="modal-header">
    <h3 class="modal-title">Update VIP</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>VIP Name:</dt>
        <dd>{{vip.vipName}}</dd>
        <dt>DNS:</dt>
        <dd>{{vip.dns}}</dd>
        <dt>External:</dt>
        <dd><select ng-model="formUpdateVip.external" class="form-control"><option value="false">False</option><option value="true">True</option></select></dd>
        <dt>Network:</dt>
        <dd>{{vip.network}}</dd>
        <dt>Protocol:</dt>
        <dd>{{vip.protocol}}</dd>
        <dt>VIP Port:</dt>
        <dd>{{vip.vipPort}}</dd>
        <dt>Service Port:</dt>
        <dd><input ng-model="formUpdateVip.servicePort" type="number" class="form-control"></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Update VIP</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

