<div class="modal-header">
  <h3 class="modal-title">Update Custom Function</h3>
</div>
<div class="modal-body">
  <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Name:</label>
      <div class="col-sm-8">
        <input ng-model="formUpdateCF.name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Method:</label>
      <div class="col-sm-8">
        <select ng-model="formUpdateCF.method" class="form-control">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
        </select>
        <p class="help-block">The HTTP method to be used to involve the service's custom function.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">URL:</label>
      <div class="col-sm-8">
        <input ng-model="formUpdateCF.url" type="text" class="form-control">
        <p class="help-block">The URL used to involve the custom function. The pattern '{host}' will be replace with the name of the target host.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Team Only:</label>
      <div class="col-sm-8">
        <input ng-model="formUpdateCF.teamOnly" type="checkbox">
        <p class="help-block">If checked, only members of the service's team will be able to access this custom function.</p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Update Function</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

