<div class="modal-header">
    <h3 class="modal-title">Update Library Module</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formUpdateModule.moduleName" type="text" class="form-control"></dd>
        <dt>Git Folder:</dt>
        <dd>
            <div class="input-group">
                <div class="input-group-addon"> / </div>
                <input ng-model="formUpdateModule.gitFolder" type="text" class="form-control">
            </div>
        </dd>
        <dt>Maven Artifact Id:</dt>
        <dd><input ng-model="formUpdateModule.mavenArtifactId" type="text" class="form-control"></dd>
        <dt>Artifact Type:</dt>
        <dd><select ng-model="formUpdateModule.artifactType" ng-options="c for c in config.artifactTypes" class="form-control"></select></dd>
        <dt>Artifact Suffix:</dt>
        <dd><input ng-model="formUpdateModule.artifactSuffix" type="text" class="form-control"></dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Update library Module</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>