<div class="modal-header">
    <h3 class="modal-title">Update Team</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formUpdateTeam.name" type="text" maxlength="30" class="form-control"></dd>
        <dt>Email:</dt>
        <dd><input ng-model="formUpdateTeam.email" type="text" class="form-control"></dd>
        <dt>IRC:</dt>
        <dd><input ng-model="formUpdateTeam.irc" type="text" class="form-control"></dd>
        <dt>Slack:</dt>
        <dd><input ng-model="formUpdateTeam.slack" type="text" class="form-control"></dd>
        <dt>Git Group:</dt>
        <dd><input ng-model="formUpdateTeam.gitGroup" type="text" maxlength="30" class="form-control"></dd>
        <dt>Team Page:</dt>
        <dd><input ng-model="formUpdateTeam.teamPage" type="text" class="form-control"></dd>
        <dt>Calendar ID:</dt>
        <dd><input ng-model="formUpdateTeam.calendarId" type="text" class="form-control"></dd>
        <dt>Colour</dt>
        <dd>
            <select ng-model="formUpdateTeam.colour" class="form-control">
                <option value="aqua">aqua</option>
                <option value="black">black</option>
                <option value="blue">blue</option>
                <option value="brown">brown</option>
                <option value="gold">gold</option>
                <option value="grey">grey</option>
                <option value="green">green</option>
                <option value="indigo">indigo</option>
                <option value="lime">lime</option>
                <option value="olive">olive</option>
                <option value="purple">purple</option>
                <option value="red">red</option>
                <option value="tan">tan</option>
                <option value="yellow">yellow</option>
            </select>
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Update Team</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>