<div class="modal-header">
    <h3 class="modal-title">Update VIP in {{vip.network}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <uib-alert ng-if="configNetwork.warning" type="warning">{{configNetwork.warning}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>VIP:</dt>
        <dd>{{vip.protocol}}://{{vip.dns}}.{{vip.domain}}:{{vip.vipPort}}</dd>
        <dt>External:</dt>
        <dd><select ng-model="formUpdateVip.external" class="form-control"><option value="false">False</option><option value="true">True</option></select></dd>
        <dt>Service Port:</dt>
        <dd><input ng-model="formUpdateVip.servicePort" type="number" class="form-control"></dd>
        <dt>Disable/Enable:</dt>
        <dd>
            <select ng-model="formUpdateVip.autoStyle" class="form-control">
                <option>Auto</option>
                <option>Manual</option>
            </select>
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Update VIP</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

