<div class="modal-header">
  <h3 class="modal-title">Update Deployable Module</h3>
</div>
<div class="modal-body">
  <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
  <form class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Name:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.moduleName" type="text" class="form-control" id="name" autofocus="true">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Host Abbr:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.hostAbbr" type="text" class="form-control" id="name">
        <p class="help-block">Used to identify the Service/Module in generated host names, for example "dc-prd-{{formUpdateModule.hostAbbr}}-001".</p>
        <p class="help-block">Only letters and numbers allowed, minimum length of 3 and maximum length of 25.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Environments:</label>
      <div class="col-sm-9">
        <span ng-repeat="n in config.environmentNames">
          <input ng-model="formUpdateModule.environmentNames[n]" type="checkbox">{{n}} &nbsp;
        </span>
        <p class="help-block">Select the environments this module will be deployed to.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Outbound Connectivity:</label>
      <div class="col-sm-9">
        <select ng-model="formUpdateModule.outbound" class="form-control">
          <option>No</option>
          <option>Required</option>
        </select>
        <p class="help-block">Does the service open any connection to services on the Internet.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Platform:</label>
      <div class="col-sm-9">
        <select ng-model="formUpdateModule.platform" ng-options="c for c in config.platforms" class="form-control"></select>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Size CPU:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.sizeCpu" type="number" min="{{config.minCpu}}" max="{{config.maxCpu}}" class="form-control">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Size Memory:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input ng-model="formUpdateModule.sizeMemory" type="number" min="{{config.minMemory}}" max="{{config.maxMemory}}" class="form-control">
          <div class="input-group-addon">GB</div>
        </div>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Size Storage:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input ng-model="formUpdateModule.sizeStorage" type="number" min="{{config.minStorage}}" max="{{config.maxStorage}}" step="5" class="form-control">
          <div class="input-group-addon">GB</div>
        </div>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Special Instructions:</label>
      <div class="col-sm-9">
        <textarea ng-model="formUpdateModule.specialInstructions" maxlength="500" rows="3" class="form-control"></textarea>
        <p class="help-block">{{config.hostSpecialInstructions}}</p>
        <p class="help-block" ng-if="formUpdateModule.specialInstructions">SLA: {{config.hostSpecialInstructionsTrueSla}}</p>
        <p class="help-block" ng-if="!formUpdateModule.specialInstructions">SLA: {{config.hostSpecialInstructionsFalseSla}}</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Availability URL:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.availabilityUrl" type="text" class="form-control" id="name">
        <p class="help-block">The URL used to get a hosts availability. For example: {{config.availabilityUrl}}</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Version URL:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.versionUrl" type="text" class="form-control" id="name">
        <p class="help-block">The URL used to get a hosts version. For example: {{config.versionUrl}}</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Smoke Test URL:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.smokeTestUrl" type="text" class="form-control">
        <p class="help-block">Optional. The URL used to invoke a Smoke Test (aka Post Deployment Test). For example: {{config.smokeTestUrl}}.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Smoke Test Cron:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.smokeTestCron" type="text" class="form-control">
        <p class="help-block">Optional. The schedule use to preform automated smoke tests on all hosts.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Run As User:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.runAs" type="text" class="form-control" id="name">
        <p class="help-block" ng-if="!service.doDeploys">The user account that the service will run as.</p>
        <p class="help-block" ng-if="service.doDeploys">The user account that the service will run as. The Start and Stop command will be invoked as this user.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Deployment Folder:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.deploymentFolder" type="text" class="form-control" id="name">
        <p class="help-block" ng-if="!service.doDeploys">The folder where you plan to deploy the service. This is documentation only, the system does not use this information or create this folder.</p>
        <p class="help-block" ng-if="service.doDeploys">The Start and Stop command will be invoked from this folder. Artifacts and Module files will be copied to this folder. This folder (and sub-folders) are removed during a deployment, and maybe removed during a restart.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Data Folder:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.dataFolder" type="text" class="form-control" id="name">
        <p class="help-block" ng-if="!service.doDeploys">The folder where the service will persist data, if required. The data folder should not be a sub folder of the deployment folder.</p>
        <p class="help-block" ng-if="service.doDeploys">Only files in this folder are guaranteed to remain across deployments and restarts. The data folder should not be a sub folder of the deployment folder.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Logs Folder:</label>
      <div class="col-sm-9">
        <input ng-model="formUpdateModule.logsFolder" type="text" class="form-control" id="name">
        <p class="help-block">Log files should be written to this folder so that they can be automatically collected. Log files must conform to the Log file specification for automatic collection. The logs folder should not be a sub folder of the deployment folder.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label">Logs Retention:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input ng-model="formUpdateModule.logsRetention" type="number" class="form-control">
          <div class="input-group-addon">months</div>
        </div>
        <p class="help-block">The amount of time the service's logs will be retained on the log server.</p>
      </div>
    </div>
    <div class="form-group form-group-sm">  
      <label class="col-sm-3 control-label">Log Collection:</label>
      <div class="col-sm-9">
        <select ng-model="formUpdateModule.logCollection" class="form-control">
          <option>Daily</option>
          <option>Hourly</option>
        </select>
        <p class="help-block">Log files are automatically collected on this schedule.</p>
      </div>
    </div>
    <div ng-if="service.doBuilds">
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Git Folder:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon"> / </div>
            <input ng-model="formUpdateModule.gitFolder" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div ng-if="service.doDeploys || service.doBuilds">
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Maven Artifact Id:</label>
        <div class="col-sm-9">
          <input ng-model="formUpdateModule.mavenArtifactId" type="text" class="form-control" id="name">
        </div>
      </div>
    </div>
    <div ng-if="service.doDeploys">
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">{{config.moduleConfigName}}:</label>
        <div class="col-sm-9">
          <input ng-model="formUpdateModule.configName" type="text" class="form-control" id="name">
        <p class="help-block">Optional.</p>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Artifact Type:</label>
        <div class="col-sm-9">
          <select ng-model="formUpdateModule.artifactType" ng-options="c for c in config.artifactTypes" class="form-control"></select>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Artifact Suffix:</label>
        <div class="col-sm-9">
          <input ng-model="formUpdateModule.artifactSuffix" type="text" class="form-control" id="name">
          <p class="help-block">Does the service's artifact have a suffix, such as '-jar-with-dependencies'.</p>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Start Cmd Line:</label>
        <div class="col-sm-9">
          <input ng-model="formUpdateModule.startCmdLine" type="text" class="form-control">
           <p class="help-block">The command to start the service or involve a script that will start the service. The command is executed direct on the target host, as the 'Run As User', from the 'Deployment Folder'. If the command contains the pattern {version} then if will be replaced with the selected version.</p>
       </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Start Time Out:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input ng-model="formUpdateModule.startTimeOut" type="number" class="form-control">
            <div class="input-group-addon">sec</div>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Stop Cmd Line:</label>
        <div class="col-sm-9">
          <input ng-model="formUpdateModule.stopCmdLine" type="text" class="form-control">
          <p class="help-block">The command to stop the service or involve a script that will stop the service. The command is executed direct on the target host, as the 'Run As User', from the 'Deployment Folder'.</p>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Stop Time Out:</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input ng-model="formUpdateModule.stopTimeOut" type="number" class="form-control">
            <div class="input-group-addon">sec</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">Update Deployable Module</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>