<div class="modal-header">
    <h3 class="modal-title">Update Service</h3>
</div>
<div class="modal-body">
    <uib-alert ng-if="errorMsg !== null" type="danger">{{errorMsg}}</uib-alert>
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><input ng-model="formUpdateService.serviceName" type="text" class="form-control"></dd>
        <dt>Description:</dt>
        <dd><textarea ng-model="formUpdateService.description" type="text" class="form-control"></textarea></dd>
        <dt>Scope:</dt>
        <dd><select ng-model="formUpdateService.scope" ng-options="c for c in config.scopes" class="form-control"></select></dd>
        <dt>Test Style:</dt>
        <dd>
            <select ng-model="formUpdateService.testStyle" class="form-control">
                <option>Maven</option>
                <option>Script</option>
            </select>
            <div ng-if="formUpdateService.testStyle === 'Script'">
                Note: This test style has been deprecated, please consider use Maven. 
            </div>
        </dd>
        <div ng-if="formUpdateService.testStyle === 'Script'">
            <dt>Test Host Name:</dt>
            <dd><input ng-model="formUpdateService.testHostname" type="text" class="form-control"></dd>
            <dt>Test Run As User:</dt>
            <dd><input ng-model="formUpdateService.testRunAs" type="text" class="form-control"></dd>
            <dt>Test Deployment Folder:</dt>
            <dd><input ng-model="formUpdateService.testDeploymentFolder" type="text" class="form-control"></dd>
            <dt>Test Cmd Line:</dt>
            <dd><input ng-model="formUpdateService.testCmdLine" type="text" class="form-control"></dd>
        </div>
        <dt>Test Time Out:</dt>
        <dd>
            <div class="input-group">
                <input ng-model="formUpdateService.testTimeOut" type="number" min="30" max="900" step="30" class="form-control">
                <div class="input-group-addon">sec</div>
            </div>
        </dd>

    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Update Service</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>