<h1>Create Version</h1>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="_id" class="col-sm-2 control-label">Service</label>
        <div class="col-sm-10">
            <input type="text" id="_id" ng-model="createForm._id" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="api" class="col-sm-2 control-label">API Version</label>
        <div class="col-sm-10">
            <input type="text" id="api" ng-model="createForm.api" ng-minlength="1" ng-maxlength="8" required="true" placeholder="2">
        </div>
    </div>
    <div class="form-group">
        <label for="impl" class="col-sm-2 control-label">Implementation Version</label>
        <div class="col-sm-10">
            <input type="text" id="impl" ng-model="createForm.impl" ng-minlength="1" ng-maxlength="8" required="true" placeholder="2">
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <select id="status" ng-model="createForm.status">
                <option value="Proposed">Proposed</option>
                <option value="Active">Active</option>
                <option value="Live">Live</option>
                <option value="Retiring">Retiring</option>
                <option value="Retired">Retired</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="submitCreateVersionForm()" class="btn btn-info btn-xs">Create New Version</button> 
            <a href="#/services/{{service._id}}" class="btn btn-info btn-xs">Cancel</a>
        </div>
    </div>
</form>